__pycache__/
*.pyc
.venv/
.env
.buildozer/
dist/
*.log
.vscode
.venv
.git
.kivy
saved/player.json
saved/configuracoes.json
/venv
build/
dist/
JOGO.spec
build.sh
appimagetool-x86_64.AppImage
JOGO-x86_64.AppImage
JOGO.AppDir